// Content
// =============================================================================
:root {
  // Code
  --code-theme-background : #262c34;
  --code-theme-comment    : #6e8090;
  --code-theme-function   : #13aff1;
  --code-theme-keyword    : #eebf76;
  --code-theme-operator   : #009fa8;
  --code-theme-punctuation: #999;
  --code-theme-selection  : #b3d4fc;
  --code-theme-selector   : #690;
  --code-theme-tag        : #905;
  --code-theme-text       : #d0d0ff;
  --code-theme-variable   : #e90;
}